.column-list-item {
    width: 280px;
    border: 1px solid #0003;
    border-radius: 10px;
    margin-right: 10px;
    background: #0aa40020;
}

.column-list-item__name {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.5rem;
}