.buttons-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.buttons-panel__btn {
    border: none;
    padding: 0;
    background: transparent;
    color: #0098dd;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.buttons-panel__btn:active {
    color: black;
}

.buttons-panel__btn:disabled {
    color: #00aeff;
    cursor: default;
}

.buttons-panel__btn:enabled {
    cursor: pointer;
}