.board-list-item-add {
    background: #00ff6c;
}

.board-list-item-add__btn {
    width: 99%;
    height: 99%;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.board-list-item-add__btn:hover {
    color: #EEE;
}

.board-list-item-add__input {
    width: 75%;
    margin-top: 20px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #FFF;
    color: white;
    padding: 3px 5px;
    font-size: 1.75rem;
}



