.board-list-item {

    width: 280px;
    height: 150px;

    border: 1px solid #0003;
    border-radius: 10px;

    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.board-list-item__wrapper {
    width: 300px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.board-list-item:before {
    margin-left: 10px;
}

.board-list-item:after {
    margin-right: 10px;
}

.board-list-item_card {
    background: #00b1ff;
    color: white;
    cursor: pointer;
}

