.column-list-item-add {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8c978a2a;
    border: none;
}

.column-list-item-add__btn {
    height: 110px;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}

.column-list-item-add__input {
    width: 75%;
    margin: 20px 0;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #0098DD;
    color: #0098DD;
    padding: 3px 5px;
    font-size: 1.75rem;
}